/* config view */

html, body {
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	font-family: arial,sans-serif;
	font-size: 12px;

	
}

input {
	margin: 0px;
	padding: 0px;
	background-color: #EDF2F7;
	border: 1px solid #1d5987;
}

input[type="text"] {
	padding: 2px 5px 2px 5px;
}

input[type="button"] {
	padding: 1px 5px 1px 5px;
}

table {
	border-collapse: collapse;
}

td {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

th {
	width: 40px;

	margin: 0px;
	padding: 0px 5px 0px 5px;

	text-align: left;
}

table, tbody, tr {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#appNavBar .appNavLeftItem,
#appNavBar .appNavRightItem,
#imageListMenu .imageListMenuLeftItem,
#imageListMenu .browserMenuRightItem,
#imageMenu .imageMenuLeftItem,
#imageMenu .imageMenuRightItem,
#menuBar .menuBarItem,
#imageList .imageListItem,
#header #logo,
input[type='button'],
select {
	cursor: hand; cursor: pointer;
}


.menuLeftItem {
	margin: -2px 1px 0px 0px;
	float: left;
}

.menuRightItem {
	margin: -2px 0px 0px 1px;
	float: right;
}


#appNavBar,
#appNavBar div,
#header,
#header div,
#footer,
#footer div {
		display: inline-block;
}

#appNavBar {
	width: 100%;
	height: auto;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	border-top: 2px solid black;
	border-bottom: 1px solid black;
}

#appNavBar .appNavLeftItem,
#appNavBar .appNavRightItem {
	padding: 5px 5px 5px 5px;
	border-top: 3px solid blue;
}

#appNavBar .appNavLeftItem {
	margin: -2px 1px 0px 0px;
	
	float: left;
}

#appNavBar .appNavRightItem
 {
	margin: -2px 0px 0px 1px;
	
	float: right;
}

#header {
	width: 100%;
	height: auto;
	padding: 0px 0px 5px 0px;
	
}

#header #logo,
#header img,
#menuBar {
	width: 150px;
}

#menuBar {
	
}

#menuBar .menuBarItem {
	padding: 5px 5px 5px 5px;
}

#menuBar .currentMenuBarItem {
	background-color: #0099CC;
	color: #FFFFFF;
}

#content {
	height: 500px;

	border-top: 5px solid #0099CC;
	border-bottom: 5px solid #0099CC;
	border-left: 5px solid #0099CC;

}

#footer {
	width: 100%;
	height: auto;
	padding: 0px 0px 5px 0px;
	
	border-bottom: 2px solid black;
}

#footer .footerLeftItem,
#footer .footerRightItem {
	padding: 5px 5px 5px 5px;
}

#footer .footerLeftItem {
	margin: 0px 1px 0px 0px;

	float: left;
}

#footer .footerRightItem {
	margin: 0px 0px 0px 1px;

	float: right;
}


/* config/image view */


#imageBrowser {
	height: 800px;

	padding: 0px 1px 0px 1px;
	margin: 5px 0px 5px 0px;

	border-right: 1px solid black;
}

#imageBrowser,
#imageBrowser #imageListMenu,
#imageBrowser #browserAddressBar {

	width: 200px;
	display: inline-block;
}

#imageBrowser #browserAddressBar input{
	width: 188px;
}

#imageListMenu {
	border-bottom: 1px solid black;
}

#imageListMenu div {
	padding: 5px 5px 5px 5px;
}

#imageListMenu .imageListMenuLeftItem {
	float: left;
}
#imageListMenu .browserMenuRightItem {
	float: right;
}

#imageBrowser #imageList {
	height: 750px;
}

#imageList .imageListItem {
	padding: 5px 5px 5px 5px;
}

#imageContent {
	width: 100%;
}

#imageContent #imageMenu {
	width: 100%;

	border-top: 2px solid black;
	border-bottom: 1px solid black;

	display: inline-block;
}

#imageContent #imageMenu .menuLeftItem,
#imageContent #imageMenu .menuRightItem {
	
	padding: 5px 5px 5px 5px;
	border-top: 3px solid green;

}


#imageContent #imageThumbnail {

	margin: 2px 0px 10px 5px;

	clear:both;

	border: 1px solid black;
}


#imageContent #imageThumbnail,
#imageContent #imageThumbnail img {
	width: 150px;
	min-height: 150px;
}

#imageContent table th,
#imageContent table td {
	padding: 5px 5px 5px 5px;
}


/* config/tutor */

#tutorTable{
	height: 100%;
}

#tutorBrowser {
	padding: 0px 0px 0px 0px;

	border-right: 2px solid #AAAAAA;
}

#tutorBrowser,
#tutorBrowserMenu {
	width: 150px;
}

#tutorBrowserMenu {
	border-top: 2px solid black;
	border-bottom: 1px solid black;

	display: inline-block;
}

#tutorBrowserMenu .menuLeftItem,
#tutorBrowserMenu .menuRightItem {
	padding: 5px 5px 5px 5px;
	border-top: 3px solid red;
}

